*{
    font-family: Poppins;
    background: blueviolet;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}



.ba{
    font-size: 3.8em;
    font-weight: 900;
    margin-top: 70px;
}

.baa{
    margin-bottom: 20px;
}

.sb , .sa{
    font-size: 1.2em;
}



img{
    width: 100px;
    border-radius: 28px;
    border: solid 4px;
    transition: 0.5s ease;
}

img:hover{
 width: 120px;
}